{% extends 'podcaster/layouts/app.html' %}
{% load static %}

{% block content %}
	<nav class="flex items-center justify-between mb-10">
		<div class="flex items-center space-x-2 text-sm text-gray-500">
			<a href="{% url 'podcaster:app:dashboard' %}">Dashboard</a>
			<span>/</span>
			<a href="{% url 'podcaster:podcasts:index' %}">Podcasts</a>
			<span>/</span>
			<a href="{% url 'podcaster:podcasts:view' '1' %}" class="text-green-500">Django</a>
		</div>

		{% include 'partials/profile.html' %}
	</nav>

	<section id="featured" class="mb-10">
		<div class="flex flex-col space-y-2">
			<span class="font-medium text-sm text-green-500 uppercase">Podcasts</span>
			<h1 class="text-5xl font-bold">Django</h1>
			<p class="text-sm text-gray-500">Podcast about Django, a high-level Python web framework that encourages rapid development and clean, pragmatic design.</p>
		</div>
	</section>

	<section id="episodes" class="mb-10">
		<div class="flex items-center justify-between mb-4">
			<h2 class="font-semibold">Episodes List</h2>
		</div>

		<div class="w-full overflow-hidden border border-gray-200 rounded-xl">
			<table class="w-full text-sm text-gray-500 border-collapse">
				<thead>
					<tr class="bg-gray-100 [&>th]:px-4 [&>th]:py-3 [&>th]:text-left [&>th]:font-semibold">
						<th class="text-start w-20">Actions</th>
						<th class="text-start w-auto">Episodes</th>
						<th class="text-start w-1/5">Duration</th>
						<th class="text-start w-1/5">Upload Date</th>
					</tr>
				</thead>
				<tbody>
					{% for i in '0123456789'|make_list %}
						<tr class="bg-white [&>td]:px-4 [&>td]:py-3 border-t border-gray-200">
							<td>
								{% include 'partials/action.html' %}
							</td>
							<td>
								<h3 class="text-sm font-semibold">What is django?</h3>
								<p class="text-sm line-clamp-2">Introduction, overview of Django, and a brief history of the framework.</p>
							</td>
							<td>40:00</td>
							<td>Django</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
