{% extends 'podcaster/layouts/app.html' %}
{% load static %}

{% block content %}
	<nav class="flex items-center justify-between mb-10">
		<div class="flex items-center space-x-2 text-sm text-gray-500">
			<a href="{% url 'podcaster:app:index' %}">Dashboard</a>
		</div>

		<div class="flex items-center space-x-4 text-sm text-gray-500">
			<a href="#">Username</a>
			<div class="h-8 w-8 rounded-full bg-gray-200 flex items-center justify-center rounded-full">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
					<circle cx="12" cy="8" r="5" />
					<path d="M20 21a8 8 0 0 0-16 0" />
				</svg>
			</div>
		</div>
	</nav>

	<section id="stats" class="mb-10">
		<h2 class="font-semibold mb-4">Stats</h2>

		<div class="grid lg:grid-cols-3 gap-6 items-center">
			<div class="bg-gray-100 rounded-xl p-6 flex flex-col">
				<h3 class="font-bold text-5xl">5332</h3>
				<span class="text-gray-500 text-sm">Daily Listeners</span>
			</div>
			<div class="bg-gray-100 rounded-xl p-6 flex flex-col">
				<h3 class="font-bold text-5xl">156</h3>
				<span class="text-gray-500 text-sm">Episodes</span>
			</div>
			<div class="bg-gray-100 rounded-xl p-6 flex flex-col">
				<h3 class="font-bold text-5xl">3</h3>
				<span class="text-gray-500 text-sm">Podcasts</span>
			</div>
		</div>
	</section>

	<section id="podcasts" class="mb-10">
		<h2 class="font-semibold mb-4">My Podcasts</h2>

		<div class="grid gap-6 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5">
			{% for i in '01234'|make_list %}
				<a href="{% url 'podcaster:podcasts:view' i %}">
					<div class="flex flex-col justify-end bg-gray-100 rounded-xl overflow-hidden p-4 text-gray-500">
						<div class="w-full aspect-square mb-4 overflow-hidden rounded-lg bg-white flex items-center justify-center relative">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-8 w-8">
								<path d="m12 8-9.04 9.06a2.82 2.82 0 1 0 3.98 3.98L16 12" />
								<circle cx="17" cy="7" r="5" />
							</svg>
						</div>

						<h3 class="text-sm font-semibold">Syntax.fm</h3>
						<p class="text-sm line-clamp-2">Full Stack Web Developers Wes Bos and Scott Tolinski dive deep into web development, CSS, JavaScript, Frameworks, Typescript, Servers and more.</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>
{% endblock %}
