<div x-data="{ open: false }" class="relative" x-on:click.away="open = false">
    <button x-on:click="open = !open" class="flex items-center space-x-4 text-sm text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
            <circle cx="12" cy="12" r="1" />
            <circle cx="19" cy="12" r="1" />
            <circle cx="5" cy="12" r="1" />
        </svg>
    </button>

	<div x-show="open" class="absolute top-full left-0 w-52 rounded-lg bg-white border border-gray-200 mt-2 z-10 p-1" x-transition> 
		<div class="flex flex-col space-y-2">
			<button class="p-2 text-start rounded-md text-sm text-gray-500 hover:bg-gray-100">
                <div class="flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                        <polygon points="6 3 20 12 6 21 6 3"/>
                    </svg>
                    <span class="text-sm line-clamp-1">Play Media</span>
                </div>
            </button>
			<button class="p-2 text-start rounded-md text-sm text-gray-500 hover:bg-gray-100">
                <div class="flex items-center space-x-2">   
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                        <path d="M5 12h14"/>
                        <path d="M12 5v14"/>
                    </svg>
                    <span class="text-sm line-clamp-1">Add to Playlist</span>
                </div>
            </button>
			<button class="p-2 text-start rounded-md text-sm text-gray-500 hover:bg-gray-100">
                <div class="flex items-center space-x-2">   
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                        <path d="M5 12h14"/>
                    </svg>
                    <span class="text-sm line-clamp-1">Remove from Playlist</span>
                </div>
            </button>
			<button class="p-2 text-start rounded-md text-sm text-gray-500 hover:bg-gray-100">
                <div class="flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                        <polyline points="7 10 12 15 17 10"/>
                        <line x1="12" x2="12" y1="15" y2="3"/>
                    </svg>
                    <span class="text-sm line-clamp-1">Download Media</span>
                </div>
            </button>
		</div>
	</div>
</div>