{% load static %}

<div class="flex flex-col space-y-10">
	<div class="px-4">
		<a href="{% url 'podcaster:app:dashboard' %}">{% include './icon.html' %}</a>
	</div>

	<div class="w-full">
		<h2 class="px-4 font-semibold mb-2">Search</h2>

		<div class="relative">
			<input type="search" class="w-full px-4 py-2 border border-gray-200 rounded-lg focus:outline-none focus:border-green-500 text-sm" placeholder="Keyword" />

			<a href="{% url 'podcaster:app:search' %}">
				<button class="absolute inset-y-0 right-0 flex items-center pr-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5 text-green-500">
						<circle cx="11" cy="11" r="8" />
						<path d="m21 21-4.3-4.3" />
					</svg>
				</button>
			</a>
		</div>
	</div>

	<div class="w-full">
		<h2 class="px-4 font-semibold mb-4">My Podcasts</h2>

		<div class="flex flex-col space-y-2">
			<a href="{% url 'podcaster:podcasts:index' %}">
				<div class="px-4 py-2 rounded-lg block w-full text-gray-500 hover:bg-gray-200 flex space-x-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
						<path d="m12 8-9.04 9.06a2.82 2.82 0 1 0 3.98 3.98L16 12" />
						<circle cx="17" cy="7" r="5" />
					</svg>
					<span class="text-sm">List Podcasts</span>
				</div>
			</a>

			<a href="{% url 'podcaster:podcasts:create' %}">
				<div class="px-4 py-2 rounded-lg block w-full text-gray-500 hover:bg-gray-200 flex space-x-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
						<path d="M5 12h14" />
						<path d="M12 5v14" />
					</svg>
					<span class="text-sm">Create Podcast</span>
				</div>
			</a>
		</div>
	</div>
</div>
