{% extends 'layouts/guest.html' %}
{% load static %}

{% block content %}
	<div class="flex flex-col items-center justify-center h-full">
		<div class="w-full max-w-md mx-auto">
			<header class="mb-6">
				<h1 class="font-bold text-4xl mb-4">Welcome.</h1>
				<p class="text-gray-500 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus, corporis facere cumque qui.</p>
			</header>

			<div class="flex flex-col space-y-4 text-center">
				<a href="{% url 'app:login' %}" class="button w-full">Login User</a>
				<a href="{% url 'podcaster:app:login' %}" class="button w-full">Login Podcaster</a>
			</div>
		</div>
	</div>
{% endblock %}
